$basefontSize: 16;
$layoutWidth: 1440;

@function rem($val) {
  @return calc($val / $basefontSize) + rem;
}

@function value-by-width($val) {
  @return calc($val / $layoutWidth * 100) + vw;
}

@function clamp-calc($min-width, $max-width, $size-at-min-width, $size-at-max-width) {
  $slope:  calc(($size-at-max-width - $size-at-min-width) / ($max-width - $min-width));
  $y-axis-intersection: -1 * $min-width * $slope + $size-at-min-width;
  $return-value: clamp(#{$size-at-min-width}, #{$y-axis-intersection} + #{$slope} * 100vw, #{$size-at-max-width});
  @return $return-value;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin absolut-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

@mixin for-table {
  @media (max-width: $tablet) { @content; }
}

@mixin for-mobile {
  @media (max-width: $mobile) { @content; }
}
