// COLORS

// 1440
// 720
// 390
$color-light: #FFF;
$color-dark: #171717;
$color-primary: #6666FF;

// TEXT

$font-family: 'Roboto', sans-serif;
$base-font-size: rem(16);
$base-line-height: rem(20);

// LAYOUT

$layout-width: 1200px;

// TRANSITION

$transition-time: 0.25s;

// OTHER

$tablet: 800px; // 720
$mobile: 500px; // 390

