// COLORS

// 1440
// 720
// 390
$color-light: #FFF;
$color-dark: #171717;
$color-primary: #6666FF;

// TEXT

$font-family: 'Roboto', sans-serif;
$base-font-size: rem(16);
$base-line-height: rem(20);

// LAYOUT

$layout-width: 1200px;

// TRANSITION

$transition-time: 0.25s;

// OTHER

//$base-border-radius: 16px;
//$big-border-radius: 24px;
//$phone: 480px;
//$big-phone: 640px;
//$small-tablet: 768px;
//$tablet: 960px;
//$desktop: 1152px;
//$big-desktop: 1560px;
//$max-layout: 1680px;

