.sp-form-outer .sp-message {
  font-family: $font-family!important;
  color: $color-light!important;
  font-size: clamp-calc(720px, 1440px, 16px, 32px)!important;
  background: none!important;

}
.sp-form {
  width: 100%!important;
  border: none!important;
  padding: 0!important;
  background: none!important;
}

.sp-form-fields-wrapper {
  width: 100%!important;
}

.sp-form[sp-id="218393"] .sp-form-control {
  font-family: $font-family!important;
  border: none!important;
  border-bottom: 2px solid $color-primary!important;
  border-radius: 0!important;
  width: 100%!important;
  height: 100%!important;
  outline: none;
  background: none!important;
  font-size: clamp-calc(720px, 1440px, 16px, 24px)!important;
  color: $color-light;
  line-height: 2;
  padding: 10px 50px 10px 0!important;
  transition: all $transition-time ease;
  margin-bottom: 8px;

  @include for-mobile {
    font-size: 12px!important;
    margin-bottom: 4px;
  }

  &::placeholder {
    color: $color-light;
    opacity: 0.35;
  }

  &:focus {
    border-width: 4px!important;
    margin-bottom: -2px;
  }
}

.sp-control-label {
  display: none!important;
}

.sp-form .sp-button-container {
  margin-top: clamp-calc(720px, 1440px, 24px, 32px) !important;
}

.sp-form .sp-field {
  padding: 0!important;
}

.sp-field + .sp-field {
  margin-top: 12px;
}

.sp-form[sp-id="218393"] .sp-button{
  width: 100%!important;
  font-family: $font-family!important;
  height: clamp-calc(720px, 1440px, 40px, 72px)!important;
  font-size: clamp-calc(720px, 1440px, 20px, 32px)!important;
  font-weight: 300!important;
  line-height: 1.25!important;
  outline: none;
  background: none!important;
  color: $color-light;
  border: 2px solid $color-primary!important;
  border-radius: 0!important;
  transition: all $transition-time ease!important;
  cursor: pointer;
  user-select: none;

  @include for-mobile {
    font-size: 14px!important;
  }

  &.is-disabled {
    opacity: 0.35;
    pointer-events: none;
  }
}

.sp-form .btn-loading:before {
  background-color: $color-primary!important;
}

.sp-form .sp-button:hover {
  top: 0!important;
  border-width: 4px!important;
}

.sp-link-wrapper.sp-brandname__left {
  opacity: 0;
  visibility: hidden;
}

.sp-checkbox-option {
  position: relative;

  input {
    position: absolute!important;
    visibility: hidden;
    width: 0!important;
    margin: 0!important;

    &:checked + .pse-label {
      &:after {
        opacity: 1;
        background-image: url('../images/checked.svg');
      }
    }
  }

  span {
    color: $color-light;
  }

  .pse-label {
    position: relative;
    padding-left: clamp-calc(720px, 1440px, 24px, 32px);
    font-size: clamp-calc(720px, 1440px, 12px, 16px);
    cursor: pointer;
    white-space: nowrap;

    @include for-mobile {
      white-space: normal;
      line-height: 1.33;
    }

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 0;
      width: clamp-calc(720px, 1440px, 16px, 20px);
      height: clamp-calc(720px, 1440px, 16px, 20px);
    }

    &:before {
      border: 1px solid $color-light;
      transition: all 0.3s ease;
    }

    &:after {
      opacity: 0;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      background-position: center;
      transition: all 0.3s ease;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

