.main {
  position: relative;
  width: 100%;
  overflow: hidden;

  & > *:not(.bg) {
    position: relative;
    z-index: 1;
  }
}

.bg {
  @include absolut-position;

  &-gradient-1 {
    position: absolute;
    left: valueByWidth(425);
    top: valueByWidth(-715);
    width: 117vw;
    height: 117vw;
    background: rgba(241, 17, 205, 0.25);
    filter: blur(292px);
  }

  &-gradient-2 {
    position: absolute;
    left: valueByWidth(-440);
    top: valueByWidth(586);
    width: 89vw;
    height: 89vw;
    background: rgba(53, 0, 115, 0.35);
    filter: blur(292px);
  }

  &-gradient-3 {
    position: absolute;
    left: valueByWidth(-215);
    top: valueByWidth(1990);
    width: 100vw;
    height: 100vw;
    background: rgba(241, 17, 205, 0.1);
    filter: blur(292px);
  }

  &-gradient-4 {
    position: absolute;
    left: valueByWidth(708);
    top: valueByWidth(2750);
    width: 90vw;
    height: 90vw;
    background: rgba(53, 0, 115, 0.4);
    filter: blur(292px);
  }

  &-gradient-5 {
    position: absolute;
    left: valueByWidth(-1010);
    top: valueByWidth(3670);
    width: 133vw;
    height: 133vw;
    background: rgba(53, 0, 115, 0.2);
    filter: blur(292px);
  }

  &-gradient-6 {
    position: absolute;
    left: valueByWidth(675);
    top: valueByWidth(5216);
    width: 1100vw;
    height: 1100vw;
    background: rgba(241, 17, 205, 0.2);
    filter: blur(292px);
  }

  &-gradient-7 {
    position: absolute;
    left: valueByWidth(260);
    top: valueByWidth(6726);
    width: 90vw;
    height: 90vw;
    background: rgba(53, 0, 115, 0.4);
    filter: blur(292px);
  }
}

.wrapper {
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 154px;
  height: 24px;
  background: url("../images/logo.svg") no-repeat center/contain;
  transition: opacity .25s;
}

.header {
  &__wr {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    min-height: 112px;
    border-bottom: 1px solid $color-light;

    & > div {
      display: flex;
      align-items: center;
      //flex: 1;
      padding: 32px 0;
    }
  }

  &__left {
    width: 32.5%;
  }

  &__center {
    width: 42%;
    justify-content: center;
    border-left: 1px solid $color-light;
    border-right: 1px solid $color-light;

    a {
      display: block;
      line-height: 32px;
    }
  }

  &__right {
    width: 25.5%;
    justify-self: end;
    justify-content: flex-end;
  }
}

.menu {
  display: flex;
  gap: 24px;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 26px 8px 24px;
  cursor: pointer;
  user-select: none;

  &:hover {
    &:before {
      border-width: 4px;
    }
  }

  &:active {
    opacity: 0.8;
  }

  &:before {
    content: '';
    z-index: -1;
    @include absolut-position;
    transition: border $transition-time ease;
    border: 2px solid $color-primary;
  }

  &__text {
    margin-right: 10px;
    font-size: 24px;
    line-height: 32px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    background: url("../images/down.svg") no-repeat center/contain;
  }
}

.hero {
  padding: 88px 0 130px;

  &__wr {
    position: relative;
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
  }

  &__title {
    margin-bottom: 64px;
    text-transform: uppercase;
  }

  &__descr {
    align-self: flex-end;
    max-width: 560px;
    text-align: right;
  }

  &__img {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 924px;
    height: 403px;
    background-color: #6666FF;

    img {
      @include cover-img;
    }
  }

  &__down {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background: url("../images/down-big.svg") no-repeat center/contain;
    animation: MoveUpDown 2s ease-in infinite alternate;
  }
}


.section {
  border-top: 1px solid $color-light;
  padding-top: 56px;

  &__title {
    margin-bottom: 64px;
  }

  &__text {
    margin-bottom: 64px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'item item item'
    '. section-1 section-1'
    'section-2 section-2 .';
    gap: 24px;
  }

  &--course {
    margin-top: 56px;

    .section__title {
      margin-bottom: 48px;
    }

    .double-item--right {

    }
  }

  &--reasons {
    margin-top: 56px;
  }
}

.learn-item {
  position: relative;

  &__img {
    position: relative;
    margin-bottom: 14px;
    overflow: hidden;

    &:after {
      content: '';
      padding-top: 100%;
      float: left;
    }

    img {
      @include cover-img;
    }
  }

  &__text {

  }

  &__link {
    @include absolut-position;
    z-index: 1;
  }
}

.double-item {
  border-top: 1px solid $color-light;
  padding-top: 56px;

  &--right {
    grid-area: section-1;
    margin-top: 95px;
  }

  &--left {
    grid-area: section-2;
    margin-top: 95px;
  }

  &--terminal {
    margin-top: 64px;
    padding-top: 86px;

    //p {
    //  max-width: 360px;
    //}
  }

  &--traders {
    margin-top: 35px;
  }

  &__top {
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__text {
    flex: 1;

    h2 {
      margin-bottom: 64px;
    }

    .extra-text {
      margin-bottom: 64px;
    }

  }

  &__img {
    flex: 1;
    height: 100%;

    img {
      @include cover-img;
    }
  }
}

.course-block {
  grid-area: item;

  &__list {
    margin-bottom: 44px;
  }
}

.course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 0;

  & + & {
    border-top: 1px solid $color-light;
  }

  &__name {
    font-size: 32px;
    line-height: 40px;

    span:nth-child(1) {
      display: inline-block;
      width: 26px;
    }

    span:nth-child(2) {
      &:before {
        content: '-';
        padding: 0 8px;
      }
    }
  }

  &__descr {
    max-width: 384px;
  }
}

.reason-descr {
  & + & {
    margin-top: 64px;
  }
}

.subscribe-form {
  grid-area: section-2 / 1;
  margin-top: 35px;
  padding-top: 56px;
  border-top: 1px solid $color-light;

  &__title {
    margin-bottom: 32px;
  }
}

.form {
  max-width: 384px;

  &__email {
    margin-bottom: 32px;
  }

  button {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    color: $color-light;

    &.btn {
      height: 72px;
      justify-content: center;
    }

    .btn__text {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

.subscribe-form-message {
  display: none;
  grid-area: section-2;
  padding: 32px 48px;
  font-size: 32px;
  line-height: 40px;
  background: rgba($color-light, 0.05);
  border: 2px solid $color-light;
}

.input-item {
  position: relative;

  &__field {
    position: relative;
    z-index: 1;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    background: none;
    font-size: 24px;
    color: $color-light;
    line-height: 32px;
    padding: 10px 50px 10px 0;

    &::placeholder {
      color: $color-light;
      opacity: 0.35;
    }
  }

  &__border {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $color-primary;
    transition: all $transition-time ease;
  }

  &__field:focus + &__border {
    height: 4px;
    transform: translateY(2px);
  }
}

// Footer
.footer {
  margin-top: 120px;

  &__wr {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 56px 0 120px;
    border-top: 1px solid $color-light;
  }

  &__col {
    width: 32%;
  }

  &__social {
    margin-bottom: 8px;
  }

  &__copyrights {
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
  }
}

.footer-links {
  &__item {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: rgba($color-light, 0.8);
      }
    }
  }
}

.social {
  display: flex;
  gap: 24px;
}

.social-item {
  position: relative;
  width: 24px;
  height: 24px;
  transition: opacity $transition-time ease;

  &:hover {
    opacity: 0.7;
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__link {
    @include absolut-position;
  }
}

// Animation
@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}
