.main {
  position: relative;
  width: 100%;

}

.wrapper {
  width: 100%;
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 116px;
  height: 24px;
  background: url("../images/logo.svg") no-repeat center/contain;
  transition: opacity .25s;
}

.header {
  &__wr {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    min-height: 112px;
    border-bottom: 1px solid $color-light;

    & > div {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 32px 0;
    }
  }

  &__left {
    width: 32.5%;
  }

  &__center {
    width: 42%;
    justify-content: center;
    border-left: 1px solid $color-light;
    border-right: 1px solid $color-light;

    a {
      display: block;
      line-height: 32px;
    }
  }

  &__right {
    width: 25.5%;
    justify-self: end;
    justify-content: flex-end;
  }
}

.menu {
  display: flex;
  gap: 24px;
}

a {
  color: $color-light;
  line-height: 20px;
  text-decoration: none;
  transition: color $transition-time ease;

  &:hover {
    color: $color-primary;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 8px 26px 8px 24px;
  cursor: pointer;

  &:hover {
    &:before {
      border-width: 4px;
    }
  }

  &:active {
    opacity: 0.8;
  }

  &:before {
    content: '';
    z-index: -1;
    @include absolut-position;
    transition: border $transition-time ease;
    border: 2px solid $color-primary;
  }

  &__text {
    margin-right: 10px;
    font-size: 24px;
    line-height: 32px;
  }

  &__icon {
    width: 14px;
    height: 14px;
    background: url("../images/down.svg") no-repeat center/contain;
  }
}

.hero {
  padding: 88px 0 120px;

  &__wr {
    position: relative;
  }

  &__text {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__descr {
    align-self: flex-end;
    max-width: 560px;
    text-align: right;
  }

  &__img {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 924px;
    height: 403px;
    background-color: #6666FF;

    img {
     @include cover-img;
    }
  }

  &__down {
    width: 54px;
    height: 54px;
    margin: 0 auto;
    background: url("../images/down-big.svg") no-repeat center/contain;
    animation: MoveUpDown 2s ease-in infinite alternate;
  }
}


.section {
  border-top: 1px solid $color-light;
  padding-top: 56px;

  &__title {
    margin-bottom: 64px;
  }

  &__text {
    margin-bottom: 64px;
  }

  &__grid {
    display: grid;
    //grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'item item item'
    '. section-1 section-1'
    'section-2 section-2 .';
    gap: 24px;
  }
}

.learn-item {
  position: relative;

  &__img {
    position: relative;
    margin-bottom: 24px;
    overflow: hidden;

    &:after {
      content: '';
      padding-top: 100%;
      float: left;
    }

    img {
      @include cover-img;
    }
  }

  &__text {

  }

  &__link {
    @include absolut-position;
    z-index: 1;
  }
}

.double-item {
  border-top: 1px solid $color-light;
  padding-top: 56px;

  &--right {
    grid-area: section-1;
    margin-top: 152px;
  }

  &--left {
    grid-area: section-2;
    margin-top: 120px;
  }

  &__top {
    display: flex;
    gap: 24px;
    margin-bottom: 64px;
  }

  &__title {
    margin-bottom: 64px;
  }

  &__text {
    flex: 1;

    h2 {
      margin-bottom: 64px;
    }

    .extra-text {
      margin-bottom: 64px;
    }

  }

  &__img {
    flex: 1;
    height: 100%;

    img {
      @include cover-img;
    }
  }
}

.course-block {
  grid-area: item;

  &__list {
    margin-bottom: 64px;
  }
}

.course-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 0;

  & + & {
    border-top: 1px solid $color-light;
  }

  &__name {
    font-size: 32px;
    line-height: 40px;

    span:nth-child(1) {
      display: inline-block;
      width: 26px;
    }

    span:nth-child(2) {
      &:before {
        content: '-';
        padding: 0 6px;
      }
    }
  }

  &__descr {
    max-width: 384px;
  }
}

// Footer
.footer {
  &__wr {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 56px 0 120px;
    border-top: 1px solid $color-light;
  }

  &__col {
    width: 25%;
  }

  &__social {
    margin-bottom: 8px;
  }

  &__copyrights {
    font-size: 16px;
    line-height: 32px;
    text-transform: uppercase;
  }
}

.footer-links {
  &__item {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 8px;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
        color: rgba($color-light, 0.8);
      }
    }
  }
}

.social {
  display: flex;
  gap: 24px;
}

.social-item {
  position: relative;
  width: 24px;
  height: 24px;
  transition: opacity $transition-time ease;

  &:hover {
    opacity: 0.7;
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__link {
    @include absolut-position;
  }
}

// Animation
@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(30px);
  }
}
