h1 {
  font-size: clamp(32px, 6.8vw, 96px);
  line-height: 1;
  letter-spacing: 0.6rem;

  span {
    display: block;
  }

  span:nth-child(1) {
    font-size: clamp(24px, 5.7vw, 80px);
    color: $color-primary;
  }
}

h2 {
  font-size: clamp-calc(720px, 1440px, 32px, 56px);
  line-height: 1;

  @include for-mobile {
    font-size: 24px;
  }
}

h3 {
  font-size: clamp-calc(720px, 1440px, 20px, 32px);
  line-height: 1.25;

  @include for-mobile {
    font-size: 16px;
  }
}

h4 {
  margin-bottom: clamp-calc(720px, 1440px, 12px, 24px);
  font-size: clamp-calc(720px, 1440px, 16px, 24px);
  line-height: 1.33;

  @include for-mobile {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

p {
  font-size: clamp-calc(720px, 1440px, 12px, 16px);
  line-height: 1.25;

  @include for-mobile {
    font-size: 10px;
  }

  & + & {
    margin-top: clamp-calc(720px, 1440px, 12px, 24px);

    @include for-mobile {
      margin-top: 8px;
    }
  }

  &.medium-text {
    font-size: clamp-calc(720px, 1440px, 16px, 24px);
    line-height: clamp(16px, 2.3vw, 32px);

    @include for-mobile {
      font-size: 12px;
      line-height: 14px;
    }

    & + & {
      margin-top: clamp-calc(720px, 1440px, 12px, 32px);

      @include for-mobile {
        margin-top: 8px;
      }
    }
  }

  &.big-text {
    font-size: 32px;
  }
}

.blue-text {
  color: $color-primary;
}

.extra-text {
  font-size: clamp-calc(720px, 1440px, 40px, 80px);
  line-height: 1;
  color: $color-primary;

  @include for-mobile {
    font-size: 32px;
  }
}

.up-text {
  text-transform: uppercase;
}

a {
  color: $color-light;
  line-height: 1.25;
  text-decoration: none;
  transition: color $transition-time ease;

  &:hover {
    color: $color-primary;
  }
}
